*{
    margin: 0;
    padding: 0;
}
.question_box{
    height: 73dvh;
    padding: 20px 30px;
    font-size: 1.3rem;
}
.button_box{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.button_box button{
    padding: 5px  10px;
    border-radius: 2px;
    border: none;
    margin:5px;
}
.next_btn{
    background-color: rgb(14, 83, 149);
    color: white;
}
.next_btn:hover{
    background-color: rgb(68, 96, 142);
    color: whitesmoke;
    
}
.option{
    margin-top: 30px;
    padding-left: 25px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.option input{
    margin-right: 10px;
}