* {
  margin: 0;
  padding: 0;
}
.user_container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.person_icon {
  border: 1px solid black;
  width: 40%;
  text-align: center;
}

.person_info {
  padding: 10px;
  text-align: start;
  width: 60%;
}
.icon {
  color: rgb(153, 78, 50);
  font-size: 5.2rem;
}
