* {
  margin: 0;
  padding: 0;
}
.user_container {
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
}
.person_icon {
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

.person_info {
    text-align: center;
    width: 50%;
}
.icon{
    color: orangered;

   
}